.settings
/bos_management/.project
target
/bos_management/dao/.classpath
/bos_management/dao/.project
/bos_management/domain/.classpath
/bos_management/domain/.project
/bos_management/service/.classpath
/bos_management/service/.project
/bos_management/web/.classpath
/bos_management/web/.project
/.project
/bos_management_utils/.classpath
/bos_management_utils/.project
/common-parent/.project
/crm/.classpath
/crm/.project
/middieware/.classpath
/middieware/.project
